Seccion02/intro-javascript/node_modules
Seccion02/intro-javascript/.env

Seccion04/primeros-pasos/node_modules
Seccion05/prueba-unitaria-integracion/node_modules
Seccion06/aplicacion01/node_modules
Seccion08/aplicacion01/node_modules
Seccion09/aplicacion01/node_modules
Seccion10/aplicacion01/node_modules
Seccion11/aplicacion01/node_modules